body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    /* Apply pink-white gradient background */
    background: linear-gradient(to bottom, #faaed5, #ffffff);
    color: #000000;
    /* Ensure the background covers the entire viewport */
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add button styling */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #000000;
    box-shadow: 0 0 10px 5px rgba(255, 192, 203, 0.5);
}

/* Apply radial-gradient cursor as a fallback */
@supports (cursor: pointer) {
    button {
        cursor: pointer;
    }
}

/* Change navigation bar color */
nav {
    background-color: #eb2a0c !important;
}

